.header-name{
    text-align: center;
    color: chocolate;
}
.sub-header{
    text-align: center;
}

.cart{
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.cart-design{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.one-cart{
    width: 200px;
    height: 410px;
    box-shadow: 10px 10px 10px 10px gray;
   
    border-radius: 8px;
    margin: 10px;
    position: relative;
}