.header-name{
    text-align: center;
    color: chocolate;
}
.sub-header{
    text-align: center;
}

.cart{
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.cart-design{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.one-cart{
    padding-left: 15px;
    position: static;
    width: 200px;
    height: 410px;
    box-shadow: 10px 10px 10px 10px gray;
   
    border-radius: 8px;
    margin: 10px;
    position: relative;
}

.question-answer{
    padding: 10px;
}

@media screen and (max-width:962px) {
    .cart-design{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:556px) {

    .one-cart{
        padding-left: 10px;
        position: static;
        width: 160px;
        height: 410px;
        box-shadow: 10px 10px 10px 10px gray;
       
        border-radius: 8px;
        margin: 5px;
        position: relative;
    }
}

